body {
    background-color: hsl(0, 0%, 0%);
    margin: 0px;
}


.header {
    font-size: 100pt;
    text-align: center;
    font-family: "Bebas Neue";
    color: hsl(173, 100%, 78%);
}

.name {
    font-size: 32pt;
    font-weight: bold;
    text-align: center;
    font-family: "Montserrat";
    color: hsl(0, 0%, 100%);

}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    margin: 5em;
}

.grid-item {
    background-color: hsl(0, 0%, 0%);
    color: hsl(0, 0%, 100%);
    padding: 40px;
    font-family: "Montserrat";
    border-color: grey;
}

h2 {
    margin-bottom: 10px;
    font-family: 'Montserrat';
}

img {
    max-width: 100%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    padding: 2em;
    background-color: hsl(210, 69%, 14%);
    color: hsl(320, 100%, 92%);
    font-family: 'Montserrat';
    font-size: 48pt;
}


@media screen and (max-width: 499px) {
    .header {
        font-size: 24pt;
    }

    .grid-container {
        margin: 1em;
    }
}

@media screen and (max-width: 1279px) {
    .header {
        font-size: 48pt;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(1fr, 1fr, 1fr);
        grid-gap: 20px;
    }

    .grid-container {
        margin: 1em;
    }
}